body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('home2.jpg'); /* Replace with the path to your image */
    background-size: cover; /* Ensures the image covers the whole screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-color: black;
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0); /* Dark translucent background */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.logo {
    font-family: 'Orbitron', sans-serif; /* Match futuristic font */
    font-size: 1.5em;
    color: #9b59b6; /* Bright purple color */
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Orbitron', sans-serif;
    transition: color 0.3s;
}

.nav-menu li a:hover {
    color: #FF5E00
    ; /* Color change on hover */
}

/* Centered Home Text */
.home-text {
    position: absolute;
    top: 20%; /* Adjust to position lower than the navbar */
    left: 5%;
    right: 5%;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 5em;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-shadow: 
    0 0 8px rgba(50, 50, 50, 0.7),
    0 0 20px rgba(30, 30, 30, 0.7),
    0 0 30px rgba(20, 20, 20, 0.7),
    0 0 40px rgba(15, 15, 15, 0.7),
    0 0 50px rgba(10, 10, 10, 0.7),
    0 0 60px rgba(5, 5, 5, 0.7),
    0 0 70px rgba(0, 0, 0, 0.7);

    animation: pulse 1.5s infinite alternate; /* Pulsing animation */
}

/* Keyframes for pulsing effect */
@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
