/* src/styles/loading.css */

body, html, #root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image:url("loading.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.loading-text {
    position: absolute;
    color: #ffffff;
    font-size: 4em;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-shadow: 
        0 0 8px rgba(155, 89, 182, 0.7),
        0 0 20px rgba(155, 89, 182, 0.7),
        0 0 30px rgba(155, 89, 182, 0.7),
        0 0 40px rgba(155, 89, 182, 0.7),
        0 0 50px rgba(155, 89, 182, 0.7),
        0 0 60px rgba(155, 89, 182, 0.7),
        0 0 70px rgba(155, 89, 182, 0.7);
    animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
