/* style.css */

/* Center the canvas in the middle of the page */
body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('img.jpg'); /* Replace with the path to your image */
    background-size: cover; /* Ensures the image covers the whole screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

/* Loading Text */
.loading-text {
    position: absolute;
    color: #ffff; /* Bright cyan color */
    font-size: 4em;
    font-family: 'Orbitron', sans-serif; /* Futuristic font */
    text-transform: uppercase; /* Uppercase for extra impact */
    letter-spacing: 0.1em; /* Slightly spread out letters */
    text-shadow: 
    0 0 8px rgba(155, 89, 182, 0.7),
    0 0 20px rgba(155, 89, 182, 0.7),
    0 0 30px rgba(155, 89, 182, 0.7),
    0 0 40px rgba(155, 89, 182, 0.7),
    0 0 50px rgba(155, 89, 182, 0.7),
    0 0 60px rgba(155, 89, 182, 0.7),
    0 0 70px rgba(155, 89, 182, 0.7);

    animation: pulse 1.5s infinite alternate; /* Pulsing effect */
}

/* Keyframes for pulsing effect */
@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
